@charset "utf-8";
/* CSS Document */
element.style{ height:100%;}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{ margin:0; background:url(../img/banner1.jpg) no-repeat left top; backgroud-size:100% 100%; font-family:"微软雅黑"; font-size:12px; color:#9a9a9a; height:100%;}

/*div*/
.bg{ width:100%; height:100%; position:fixed; left:0; top:0; z-index:9999; background-color:rgba(0,0,0,.6);}
#wrap{ width:445px; height:541px; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); background-color:hsla(0,0%,100%,.1);}
#wrap .tit{ width:100%; height:47px; background:#fead0f; text-align:center; /*background-color:rgba(0,0,255,.7);*/}
#wrap .tit .word{ line-height:47px; font-size:18px; color:#FFF;}
#wrap .content{ margin:20px 70px;}
#wrap .content .cont1{ heigth:70px;}
#wrap .content .cont1 dd{ line-height:40px; color:#CCC;}
#wrap .content .cont1 dt{ line-height:30px;}
.content input{ width:100%; height:30px; background-color:rgba(204,204,204,.3); border:none; }
input:focus{ outline:none; border:1px solid #fead0f;}
#register_btn{ width:100%; margin-top:30px; height:30px; line-height:30px; color:#FFF; font-size:14px; background-color:#fead0f; border:none;}
#wrap .content a{ font-size:12px; color:#FFF; float:right; padding-top:10px;}
#wrap .content a:hover{ font-size:12px; color:#fead0f; float:right; padding-top:10px;}